<div class="contents row">
  <div class="content__post" style="background-image: url(<%= tweet.image %>);">
    <p>
      <%= br(tweet.text) %>
    </p>
    <span class="name"><%= tweet.name %></span>
  </div>
</div>