<div class="content__post" style="background-image: url(<%= tweet.image %>);">
  <p>
    <%= br(tweet.text) %>
  </p>
  <span class="name"><a href="#"><span>投稿者</span><%= tweet.name %></a></span>
</div>