<div class="content__post" style="background-image: url(<%= tweet.image %>);">
<% if tweet.user_id == current_user.id %>
  <div class="more">
    <span><img alt="" src="/assets/arrow_top.png"></span>
    <ul class="more_list">
      <li>
        <a href="#">編集</a>
      </li>
      <li>
        <a href="#">削除</a>
      </li>
    </ul>
  </div>
  <% end %>
  <p>
    <%= br(tweet.text) %>
  </p>
  <% if tweet.user_id %>
    <span class="name"><a href="/users/<%= tweet.user.id %>"><span>投稿者</span><%= tweet.name %></a></span>
  <% end %>

</div>